.card{
    width: 14%;
    background-color: lightgray;
    /* display: inline-block;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 0 auto; */
    margin: 10px;
      
}
.image img{
    width: 100%;
    
}
.title{
    text-align: center;
    color:rgb(72, 72, 177);
}
.des{
    text-align: center;
    color: black;
    font-size: 14px;
    font-style:inherit;
}
.anchor{
    color: rgb(82, 82, 165);
    position: absolute;
position: relative;
margin-left: 10px;
}
.btn2{
    /* width: 8%;
    margin: auto;
    color: solid white;
   /* background-color:rgb(57, 57, 161); */
   color: white;
   background-color: rgb(57, 57, 150);
   width: 8%;
   height: 30px;
   font-size: 10px;
   margin:50px 0px 0px 650px;
   border-radius: 3px;
}

#head3{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
.row{
width:100%;
/* display:grid;
 grid-template-columns: repeat(3,1fr); */
margin-right: auto;
margin-left: auto;
/* grid-auto-rows: minmax(60vh,auto); */
display:grid;
grid-template-columns: repeat(3,1fr);

}

 
.centered{
    position :absolute;
    top:50%;
    bottom:50%;
    transform : translate(60%, 40%); 
}
.col1{
    position: relative;
    
    text-align: center;
    color:white;
    font-weight: 500;
    font-weight: bold;
    font-size: 20px;
}
.dark{
    filter:brightness(30%);
}
/* video */

#video{
    background-color: rgb(202, 214, 214);
    width: 100%;
    height: 250px;
    border: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 13px;
    
}
#div1{
   float: left;
 padding: 25px;
}
#div2{
    margin: 0 auto;
    padding: 25px;
}
#div3{
float: right;
padding:25px
}

/* search box */
.search{
    float: right;
    color: white;
    border-radius: 50px;
} 
